*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
}

/* Sidebar */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:240px;
    height:100%;
    background:#1e293b;
    padding-top:20px;
}

.sidebar h2{
    color:white;
    text-align:center;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 20px;
    font-size:18px;
    transition:.3s;
}

.sidebar a:hover{
    background:#2563eb;
    padding-left:30px;
}

/* Main */

.main{
    margin-left:250px;
    padding:25px;
}

.main h1{
    margin-bottom:25px;
    color:#1e293b;
}

/* Cards */

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:30px;
}

.card{
    width:220px;
    height:120px;
    border-radius:12px;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0px 5px 15px rgba(0,0,0,.2);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.blue{
    background:#2196F3;
}

.green{
    background:#4CAF50;
}

.orange{
    background:#FF9800;
}

.red{
    background:#F44336;
}

.card h3{
    font-size:20px;
}

.card h1{
    margin-top:10px;
    color:white;
}

/* Table */

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0px 5px 15px rgba(0,0,0,.15);
}

table th{
    background:#1e40af;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

table tr:hover{
    background:#f1f5f9;
}
/* Top Bar */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.search-box input{
width:300px;
padding:10px;
font-size:16px;
border-radius:8px;
border:1px solid gray;
}

/* Quick Buttons */

.quick{
margin:20px 0;
display:flex;
gap:15px;
}

.btn{
padding:12px 20px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:bold;
transition:.3s;
}

.bluebtn{
background:#2196F3;
}

.greenbtn{
background:#4CAF50;
}

.orangebtn{
background:#FF9800;
}

.redbtn{
background:#F44336;
}

.btn:hover{
opacity:.85;
transform:scale(1.05);
}
input[type="email"]{
margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}